<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ngohoanglong.com.awesomemangareader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MangaReaderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".activity.MainActivity">
        </activity>

        <service android:name=".service.DownloadIntentService" />
        <service android:name=".service.ThreadPoolDownloadService" />

        <activity android:name=".activity.DetailActivity"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".activity.BrowserActivity"
            android:theme="@style/NoActionBar"></activity>


        <!--laucher must be below all activities-->
        <activity-alias
            android:name=".laucher"
            android:targetActivity=".activity.BrowserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>